@import "../../global.scss";

.artist{
    height: 100vh;
    background-image: url(../../rename.png);
    background-repeat: no-repeat;
    background-position: top ;
    // margin-top: 100px;
    // background-size:auto;
    margin-bottom: 100px;
        @include mobile{
            margin-bottom: 300px;
            background-size: 32rem;
        }
    
    
   .artist__title{
       margin-top: 10px;
       margin-bottom: 100px;
        text-align: center;
        @include mobile{
            margin-bottom: 30px;
        }
       .title{
            font-family: BebasBold;
            font-size: 3.7rem;
            padding: 180px 0 30px 0;
            letter-spacing: 15px;
                @include mobile{
                    padding: 80px 0 30px 0;
                    font-size: 3.2rem;
                }
       }
       .guion{
           margin-top:50px;
           @include mobile{
               margin: 0;
           }
       }
   }
   .artist__banner {
        
        
        height: 50vh;
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        @include mobile{
            height: 100%;
            width: 100%;
            flex-direction: column;
          
        }


    

    .banner__hijo {

        // background-color: #F7F8FC;
        flex: 2;

        .figura {
            height: 100%;
            width: 100%;
            background-image: url(../../pexelss.png);
            background-size: cover;
            background-position: center;
            @include mobile{
                
                background-repeat: no-repeat;
            }
        }







        .nombre {
            padding: 20px 0px 0px 0px;
            @include mobile{
                padding: 0;
            }

            .nombre__titulo {
               
                
                .miguel {
                    opacity: 0.8;
                    font-family: BebasBold;
                    font-size: 1.9rem;
                    padding-left: 60px;
                    padding-bottom: -50px;
                    letter-spacing: 5px;
                }

                img {
                    margin: 0;
                    transform: scale(0.6);
                }
            }

            .last {
                padding-left: 110px;
                @include mobile{
                    
                    padding: 0px 50px;
                }

                p {
                    font-family: PoppinsLight;
                    font-size: 0.9rem;
                    opacity: 0.7;
                }

                .boton__portafolio {
                    
                    padding-top: 60px;
                    

                    button {
                        cursor: pointer;
                        transition: all 0.5s ease;
                        background-color: $fuckgrey;
                        border: none;
                        padding: 12px 35px;
                        text-align: center;
                        text-decoration: none;
                        font-family: BebasBold;
                       
                        color: rgb(163, 163, 163);
                        font-size: 1.2rem;
                        letter-spacing: 1.3px;
                        &:hover{
                            background-color: #fbba00;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }
}
}
